/* ===== Boxicons CSS ===== */
@import url("https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css");

.midguud{
    display: flex;
    margin: auto;
    width: 90%;
    /* border: 2px solid rgba(172, 255, 47, 0.073); */
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* background: black; */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.5px);
-webkit-backdrop-filter: blur(11.5px);
border: 1px solid rgba(255, 255, 255, 1);
    
}
.imge img{
    
    width: 100%;
    margin: auto;

    /* height: 100%; */
    /* display: block; */
    /* background: rgb(196, 209, 183);/ */
}

.login {
    /* margin-top: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 
 
}

.login > div {
    display: flex;
    /* border-radius: 10px; */
    align-items: center;
    flex-direction: column;
    padding: 80px;
    background-color: #fff;
    /* border: 1px solid rgb(0, 0, 0, .1); */
    
}

.login .title {
    color: rgb(30, 30, 30);
    font-size: 25px;
    font-weight: bold;
    margin: 30px auto 20px;
}

.login input {
    width: 400px;
    border-radius: 4px;
    margin: 10px auto;
    padding: 11px 15px;
    background-color: rgba(174, 169, 169, 0.794);
    outline: none;
    border: 1px solid rgb(0, 0, 0, 0);
    font-size: 15px;
    color: rgb(30, 30, 30);
    transition: .3s;
}
.login input::placeholder {
    color: rgb(8, 6, 6);
}
.login input:hover {
    background-color: #F1EFF1;
}
.login input:focus {
    background-color: #fff;
    border: 1px solid rgb(3, 6, 12);
    /* box-shadow: 0 0 4px 2px rgb(50, 50, 50, .1); */
}
.login input:valid {
    border: 1px solid rgb(220, 220, 220);
}

.login button {
    border-radius: 4px;
    background-color: rgb(27, 48, 95);
    height: 45px;
    padding: 12px;
    width: 260px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 20px auto;
    transition: .3s;
}
.login button:hover {
    background-color: #3A6DD8;
}
.login button i {
    font-size: 16px;
}

.login .buttonShadow {
    background-color: #fff;
    color: rgb(100, 100, 100);
    border: 1px solid rgb(50, 50, 50, .1);
}
.login .buttonShadow:hover {
    background-color: rgba(19, 78, 140, 0.913);
    color: white;
}

.login a {
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 12px;
}

.login .text {
    font-size: 15px;
    margin: 40px auto 0;
    color: rgb(20, 20, 20);
}

@media only screen and (max-width: 830px) {






    .login > div {
        border-radius: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        overflow: none;
        box-shadow: none;
    }


}
@media only screen and (max-width: 768px) {


.imge imge{
 
 display: none;
}
.midguud{
    overflow: none;
}
.login button{
    width: 100%;
}


   /* .login > div{
    width: 100%;
   }  */
    

}
@media only screen and (max-width:350px){
    .midguud{
        width: 100%;
       
    }
    
.imge imge{
 
 display: none;
}
    .xxx {
        padding: 0px 3rem;
        
        width: 80%;
        margin: 0 auto;
    }
    .xxx input{
        width: 15rem;
    }
    .pos{
        padding: 0px 3rem;
        width: 80%;
        margin: 0 auto;
    }
    .pos input{
        width: 15rem;
    }
    .but{
        padding: 0px 3rem;
        width: 80%;
        margin: 0 auto;
    }
    .but button{
    width: 17rem ;
    }

}
