.midguud{
 background: #202158;
 width: 100%;
 margin: auto;
}

.container{
    width: 80%;
    margin: auto;
   
}
.footersare{
    display: grid;
    grid-template-columns: repeat(3,33%);
    justify-content: space-around;
}
.macmiil{
   
    gap: 20px;

}
.hor{
     display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
}
.macmiil h1{
    font-size: 20px;
    color: white;
    font-weight: 900;
    text-transform: capitalize;
}
.macmiil p {
    font-size: 15px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.macmiil, p:hover{
    color: cyan;
    transition: all 0.9ms;
}
.location h1{
     font-size: 20px;
    color: white;
    font-weight: 900;
    text-transform: capitalize;
}
.location, p:hover{
    color: cyan;
    transition: all 0.9ms;
}
.location p{
    font-size: 15px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.email h1{
 font-size: 20px;
    color: white;
    font-weight: 900;
    text-transform: capitalize;
}
.email p{
    font-size: 15px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.email, p:hover{
    color: cyan;
    transition: all 0.9ms;
}
@media screen  and (max-width:750px) {

    .footersare{
        display: gride;
        grid-template-columns: repeat(1,100%);
         width: 100%;
         text-align: center;
    }
     .macmiil{
        text-align: center;
    }
    
}
@media screen  and (max-width:450px) {

    .footersare{
        display: gride;
        grid-template-columns: repeat(1,100%);
        width: 100%;
        text-align: center;
        
    }
   
    
}
.mid_hose{
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.saerching h1{
    font-size: 20px;
    color: white;
    text-transform: capitalize;
}

.input , input {
    border: none;
    /* padding: 4px; */
    background: rgb(226, 226, 226);
    outline: none;
    color: black;
}
.input input ::placeholder{
    color: black;
    font-weight: 400;
    border: none;

}
.input button {
     padding: 8px;
     background: wheat;
     font-size: 17px;
     font-weight: 500;
     text-transform: capitalize;

}
.icon h1{
    color: white;
    font-size: 20px;
    text-transform: capitalize;

} 
.media{
  
    display: flex;
    gap: 10px;
    color: white;
    font-size: 18px;
}
@media screen  and (max-width:750px) {

    .mid_hose{
        display: grid;
        grid-template-columns: repeat(1,);
        text-align: center;
    }
    
    
   
    
}
