@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');




.Sidebar{

/* From https://css.glass */
/* From https://css.glass */
background: rgba(98, 255, 182, 0.73);


backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(10, 173, 94, 0.525);

}
body{

    
}
h1{

    font-family: 'Manrope', sans-serif;
}